<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title><%= web_address %></title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/styles.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-20 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="qr-body">
                    <div class="contact_card">
                        <div class="contact_qr" id="qr_code"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="contact_card">
                        <div class="contact_name"><%= first_name %> <%= last_name %></div>
                        <div class="contact_designation"><%= job_title %></div>
                        <div class="contact_company"><%= company_name %></div>
                        <hr class="divider">
                        <div class="contact_details">E: <%= email %></div>
                        <div class="contact_details phone">P: <%= phone %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>
    <script>
        function createQRCode(){
            //https://chart.apis.google.com/chart?chs=500x500&cht=qr&chld=H&chl=

            var vcard = 'BEGIN:VCARD\r\nVERSION:3.0\r\nN:<%= last_name %>;<%= first_name %>\r\nFN:<%= first_name %> <%= last_name %>\r\nORG:<%= company_name %>\r\nTITLE:<%= job_title %>\r\nTEL;TYPE=work,voice:<%= phone %>\r\nEMAIL;WORK;INTERNET:<%= email %>\r\nEND:VCARD';

            var url = "https://chart.apis.google.com/chart?chs=500x500&cht=qr&chld=H&chl="+encodeURIComponent(vcard);

            $("#qr_code").html('<img src="'+url+'" width="150">');
        }

        createQRCode();
        
        
    </script>

</body>
</html>